@import './material-icons.css'
@import './code'
@import './content'

code, kbd, .line-number
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p, ul, ol, span
  line-height 1.7